<form action="/events/<%= @event.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="event_name">Event: </label>
  <input type="text" name="event[name]" value="<%= @event.name %>" id="event_name" required>

  <label for="event_date">Date:</label>
  <input type="date" id="event_date" name="event[date]"
         value="<%=Time.now.year%>-<%=Time.now.month%>-<%=Time.now.day%>"
         min="<%=Time.now.year%>-<%=Time.now.month%>-<%=Time.now.day%>" required>

  <label for="event_start">Start Time:</label>
  <input id="event_start" type="time" name="event[start]" value="<%= @event.start_time.strftime('%I:%M') %>" required>

  <label for="event_end">End Time:</label>
  <input id="event_end" type="time" name="event[end]" value="<%= @event.end_time.strftime('%I:%M') %>" required>
  <span>Open from 9am to 9pm</span>

  <br></br>

  <% @groups.each do |group| %>
    <label for="<%= group.id %>"><%= group.name %></label>
    <input type="checkbox" name="event[group_ids][]" value="<%= group.id %>" <%='checked' if @event.groups.include?(group)%>>
  <% end %>

  <br><br>

  <textarea name="event[description]" rows="8" cols="50" placeholder="<%= @event.description%>" required></textarea>

  <input type="submit" value="Edit Event">
</form>
