<h1>CREATE NEW EVENT HERE</h1>

<form action="/events" method="post">
  <label for="event_name">Event: </label>
  <input type="text" name="event[name]" placeholder="ex: Meeting" id="event_name" required>


  <!-- <input type="month" id="date" name="date" min="<%=Time.now.year%>-<%=Time.now.month%>" value="<%=Time.now.year%>-<%=Time.now.month%>"> -->

  <label for="event_date">Date:</label>

  <input type="date" id="event_date" name="event[date]"
         value="<%=Time.now.year%>-<%=Time.now.month%>-<%=Time.now.day%>"
         min="<%=Time.now.year%>-<%=Time.now.month%>-<%=Time.now.day%>" required>



  <label for="event_start">Start Time:</label>

  <input id="event_start" type="time" name="event[start]" value="<%= DateTime.new(2018,1,1,9).strftime('%I:%M') %>" required>


  <!-- <input type="time" id="event_start" name="event[start]"
         min="9:00" max="21:00" required> -->

  <!-- <span class="note">Earliest is 9:30 AM</span> -->

  <label for="event_end">End Time:</label>

  <input id="event_start" type="time" name="event[end]" value="<%= DateTime.new(2018,1,1,10).strftime('%I:%M') %>" required>


  <!-- <input type="time" id="event_end" name="event[end]"
         min="9:00" max="21:00" required> -->

  <span class="note">Open from 9am to 9pm</span>


  <br></br>

  <label>Groups:</label>
  <% @groups.each do |group| %>
    <label for="<%= group.id %>"><%= group.name %></label>
    <input type="checkbox" name="event[group_ids][]" value="<%= group.id %>">
  <% end %>

  <br><br>

  <textarea name="event[description]" rows="8" cols="50" placeholder="Description" required></textarea>

  <input type="submit" value="Create Event">

</form>
