<h1><%="#{@event.name}"%></h1>
<h3>Hosted by: <%= "#{@event.user.name}"%></h3>

<p>
<% @event.groups.each do |group| %>
<a href="/groups/<%= group.id %>">#<%= "#{group.name}"%></a>
<% end %>
</p>

<p>When: <%= "#{@event.date.strftime('%A %B %d')}"%></p>
<p>From <%="#{@event.start_time.strftime('%I:%M %p')}"%> to <%="#{@event.end_time.strftime('%I:%M %p')}"%> </p>

<p><%="#{@event.description}"%></p>


<form action="/events/<%= @event.id %>/edit" method="get">
  <input type="submit" value="Edit">
</form>

<form action="/events/<%= @event.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

